body {
	background-color: #F2F2F2;
	color: #444444;
	font-family: 'Segoe UI Light', 'Trebuchet Ms', Tahoma, sans-serif;
}

h1 {
	border-bottom: 1px solid #E2E2E2;
	cursor: default;
	font-family: 'Segoe UI', 'Trebuchet Ms', Tahoma, sans-serif;
	font-size: 3em;
	font-weight: normal;
	margin: 0 auto;
	text-align: center;
	text-shadow: 0 0 4px #CCC;
}

nav {
	font-size: 2em;
	text-align: center;
}

nav a {
	color: #4488CC;
	margin: 0 15px;
	text-decoration: none;
	text-shadow: 0 0 2px #CCC;
}

nav a:hover {
	color: #2266AA;
}

nav a:active {
	color: #004488;
}