body {
	background-color: #F2F2F2;
	color: #444444;
	font-family: 'Segoe UI Light', 'Trebuchet Ms', Tahoma, sans-serif;
}

h1 {
	border-bottom: 1px solid #E2E2E2;
	cursor: default;
	font-family: 'Segoe UI', 'Trebuchet Ms', Tahoma, sans-serif;
	font-size: 3em;
	font-weight: normal;
	margin: 0 auto;
	text-align: center;
	text-shadow: 0 0 4px #CCC;
}

nav {
	font-size: 2em;
	text-align: center;
}

nav a {
	color: #4488CC;
	margin: 0 15px;
	text-decoration: none;
	text-shadow: 0 0 2px #CCC;
}

nav a:hover {
	color: #2266AA;
}

nav a:active {
	color: #004488;
}

ul.repos {
    list-style-type: none;
    margin: 20px auto;
    text-align: center;
    width: 50%;
}

ul.repos li {
    background-color: #4488CC;
    border: 1px solid #EEE;
    border-radius: 6px;
    color: #EEE;
    cursor: default;
    display: inline-block;
    font-size: 12pt;
    margin: 5px;
    padding: 20px;
    transition: all linear .2s;
}

ul.repos li:hover {
    border-color: #68A;
    box-shadow: #AAA 0px 0px 4px;
}

ul.repos li:active {
    box-shadow: #888 0 0 10px inset;
}